@import "tailwindcss";

@theme inline {
  /* Fonts */
  --font-urbanist: var(--font-urbanist);
  --font-figtree: var(--font-figtree);
  --font-nunito: var(--font-nunito);

  /* Colors */
  --color-primary: #FC004E;
  --color-secondary: #00E7F9;
  --color-black: #000000;
  --color-muted: #ABABAB;
}

body {
  font-family: var(--font-urbanist);
}

.banner-gradient {
  background: linear-gradient(89.63deg, var(--color-primary) -2.16%, #10CBE0 115.27%);
}

@media (min-width: 1024px) {
  .banner-gradient {
    background: linear-gradient(90deg, var(--color-primary) 0%, #10CBE0 100%);
  }
}